<div class="container-center">
    <p-card header="Registro de usuario">
        <div>
            <span class="p-float-label">
            <input type="text" id="email" pInputText>
            <label for="email">Email: </label>
        </span>
        </div>
        <div>
            <span class="p-float-label">
            <input type="password" id="password" pInputText> 
            <label for="password">Contraseña: </label>
        </span>
        </div>
        <div>
            <span class="p-float-label">
            <input type="password" id="password" pInputText> 
            <label for="password">Confirmación de la contraseña: </label>
        </span>
        </div>
        <button pButton pRipple type="button" label="Iniciar sesión" class="p-button-rounded"></button>
    </p-card>
</div>