<div [formGroup]="registerFormService.registerForm" class="container-center">
    <p-card header="Registro de usuario">
        <div>
            <span class="p-float-label">
                <input type="text" id="email"
                formControlName="email"
                pInputText>
                <label for="email">Email: </label>
                <div>
                    <app-validation-error [control]="registerFormService.email" [touched]="registerFormService.email.touched" [errors]="registerFormService.email?.errors" [validations]="registerFormService.validationsEmail">
                    </app-validation-error>
                </div>
            </span>
        </div>
        <div>
            <span class="p-float-label">
            <input type="password" id="password"
            formControlName="password"
            pInputText> 
            <label for="password">Contraseña: </label>
            <div>
                <app-validation-error [control]="registerFormService.password" [touched]="registerFormService.password.touched" [errors]="registerFormService.password?.errors" [validations]="registerFormService.validationsPassword">
                </app-validation-error>
            </div>
        </span>
        </div>
        <div>
            <span class="p-float-label">
            <input type="password" id="passwordConfirmation"
            formControlName="passwordConfirmation"
            pInputText> 
            <label for="passwordConfirmation">Confirmación de la contraseña: </label>
            <div>
                <app-validation-error [control]="registerFormService.passwordConfirmation" [touched]="registerFormService.passwordConfirmation.touched" [errors]="registerFormService.passwordConfirmation?.errors" [validations]="registerFormService.validationsPasswordConfirmation">
                </app-validation-error>
            </div>
        </span>
        </div>
        <button pButton type="submit" label="Registro" class="p-button-rounded" (click)="register()" [disabled]="!registerFormService.registerForm.valid"></button>
    </p-card>
</div>