.p-float-label {
    margin-bottom: 3%;
    margin-top: 1%;
}

.container-center {
    width: 55%;
    left: 25%;
    position: fixed;
    margin-top: 4%;
}

.p-card-content,
.p-card-title {
    left: 40%;
    position: relative;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

.header {
    width: 100%;
}

.main-menu {
    float: left;
    margin-right: 5%;
}

.title-header {
    cursor: pointer;
    background-color: black;
    color: white;
}